.App {
    text-align: center;
}

/* controls big main navbar */
.nav {
    background-color: transparent;
    width: inherit;
}

/* controls drawer nav */
.drawer {
    background-color: rgba(0, 0, 0, 0.651) !important;
    backdrop-filter: blur(10px);
    border-right-color: white !important;
    -webkit-tap-highlight-color: transparent !important;
}

/* drawer nav */
.drawer > nav {
    background-color: transparent !important;
    box-shadow: none !important;
}
/* drawer title */
.mdl-layout-title {
    /* font-size: 2em !important; */
}
/* drawer links */
.mdl-navigation__link {
    font-size: 20px !important;
}
/* keep drawer button white on small screens */
.mdl-layout__drawer-button {
    color: white !important;
}

.footer {
    justify-content: center !important;
    padding: 0% !important;
    background: rgba(0, 0, 0, 0.555) !important;
}

nav {
    background-color: transparent;
}

.page-content {
    color: white;
}
