input[type="text"],
input[type="password"],
input[type="date"] {
    color: white;
}

.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

button {
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: #39049c;
    border-color: black;
    cursor: pointer;
}
